@font-face {
    font-family: "NetflixSans_W_Bd.woff2";
    src: url("./assets/NetflixSans_W_Bd.woff2");
  }
  
  @font-face {
    font-family: "NetflixSans_W_Md.woff2";
    src: url("./assets/NetflixSans_W_Md.woff2");
  }
  
  @font-face {
    font-family: "NetflixSans_W_Rg.woff2";
    src: url("./assets/NetflixSans_W_Rg.woff2");
  }
  
  header {
    background-image: url("./assets/sfondo.png");
    background-position: center center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 94vh;
  }
  
  .header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 20px;
  }
  
  .header-nav img {
    width: 148px;
    height: 40px;
  }
  
  .nav-r {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  
  .nav-r img {
    position: relative;
    left: 47px;
    top: 4px;
    width: 25px;
    height: 25px;
  }
  
  #language-header {
    background: transparent;
    color: white;
    height: 33px;
    width: 120px;
    text-align: right;
    border-radius: 5px;
    font-size: large;
    padding: 3px;
    border: 1px solid rgba(128, 128, 128, 0.677);
  }
  
  .nav-r button {
    cursor: pointer;
    background-color: rgb(229, 9, 20);
    color: white;
    border-radius: 5px;
    font-size: medium;
    text-align: center;
    height: 33px;
    width: 80px;
    border: none;
    font-weight: bold;
  }
  
  .nav-r button:hover {
    background-color: rgb(211, 0, 0);
    transition: 0.3s;
  }
  
  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 200px;
  }
  
  .center h1,
  .center p,
  .center h3,
  .banner p {
    color: white;
  }
  
  .center h1 {
    font-weight: 700;
    font-size: 3rem;
    font-family: "NetflixSans_W_Bd.woff2";
    margin: 0;
  }
  
  .center p,
  .center h3 {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "NetflixSans_W_Rg.woff2";
  }
  
  
  .center h3 {
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin: 0;
    margin-bottom: 20px;
  }
  
  .email-form {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;
    align-content: center;
    margin-left: 128px;
    margin-right: 128px;
  }
  
  .email-form p {
    font-size: 20px;
    margin-top: 100px;
    margin-bottom: -30px;
  }
  
  .email-form label {
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 14px;
    left: 10px;
    transition: 0.2s ease-in-out;
    padding-top: 3px;
  }
  
  #email:focus + label,
  #email:invalid ~ label {
    top: 1px;
    font-size: 0.75em;
    color: rgba(255, 255, 255, 0.8);
  }
  
  #email:invalid {
    border: 1px solid red;
  }
  
  #email:invalid ~ .error p {
    color: red;
  }
  
  #email:invalid ~ .error img {
    content-visibility: visible;
  }
  
  .email-form button {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  
  #email {
    position: relative;
    width: 430px;
    height: 50px;
    border: 1px solid white;
    background: transparent;
    color: white;
    border-radius: 5px;
    font-size: large;
    padding-left: 10px;
  }
  
  .error {
    display: flex;
    flex-direction: row;
  }
  
  .error img {
    filter: brightness(0%) saturate(100%) invert(23%) sepia(91%) saturate(6734%)
      hue-rotate(356deg) brightness(102%) contrast(123%);
    width: 20px;
    height: 20px;
    position: relative;
    top: 6px;
    left: 5px;
    margin-bottom: 0;
    content-visibility: hidden;
  }
  
  .error p {
    fill: currentcolor;
    font-size: 0.8125rem;
    margin-top: 0.45rem;
    color: transparent;
    margin-bottom: 0;
  }
  
  .center button {
    cursor: pointer;
    padding: 12px 24px;
    background-color: rgb(229, 9, 20);
    color: white;
    border-radius: 5px;
    font-size: x-large;
    border: none;
    font-weight: bold;
  }
  
  .center button:hover {
    background-color: rgb(211, 0, 0);
    transition: 0.3s;
  }
  
  .banner {
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgb(14, 27, 79);
    background: radial-gradient(
      51.39% 511.66% at 47.68% -217.91%,
      #ff9900 0%,
      #e50914 17.27%,
      #0e1b4f 79.44%,
      #000413 100%
    );
    box-shadow: 0px -8px 25px rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 4px;
    padding: 22px;
    position: absolute;
    top: 630px;
    left: 80px;
    right: 80px;
    font-family: "NetflixSans_W_Bd.woff2";
    font-weight: 500;
  }
  
  .banner img {
    width: 106px;
    height: 110px;
  }
  
  .banner-text-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  
  .banner-text-wrapper a {
    color: #448ef4;
    display: flex;
    flex-direction: row;
    margin: 0;
  }
  
  .banner-text-wrapper a img {
    width: 24px;
    height: 24px;
    filter: brightness(0) saturate(100%) invert(43%) sepia(100%) saturate(581%)
      hue-rotate(184deg) brightness(99%) contrast(93%);
  }
  
  .banner-1 {
    font-family: "NetflixSans_W_Md.woff2";
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin: 0;
  }
  
  .banner-2 {
    font-family: "NetflixSans_W_Rg.woff2";
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }
  
@media (max-width: 960px) {
  .header-nav img {
    width: 5.5625rem;
    height: 1.5rem;
  }
  .header-nav{
    margin-left: 32px;
    margin-right: 32px;
  }
  .nav-r img{
    position: relative;
    left: 47px;
    top: 4px;
    width: 25px;
    height: 25px;
  }
  .center{
    margin-top: 120px;
  }
  .center h1{
    font-size: 1.8rem;
  }
  .center p, .center h3{
    font-size: 1.1rem;
  }
  .error img{
    margin-right: 10px;
    margin-top: 2px;
  }
  .banner{
    top: 520px;
    display: flex;
    flex-direction: column;
    padding: 40px;
  }
  .banner-text-wrapper{
    margin-bottom: 70px;
  }
  .banner img{
    width: 80px;
    height: 100px;
  }
}

@media (max-width: 600px){
  .email-form{
    width: 60px;
    height: auto;
   }
   .email-form label {
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 14px;
    left: -120px;
    transition: 0.2s ease-in-out;
    padding-top: 3px;
  }
}
