@font-face {
    font-family: "Netflix";
    src: url(../TeamProject2/assets/NetflixSans_W_Rg.woff2) format("woff2");
}
  * {
    letter-spacing: 0 !important;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
      sans-serif;
    color: rgb(255, 255, 255);
  }
  
  html {
    -webkit-text-size-adjust: 100%;
    background-color: black;
  }
  
  .contenitore-globale {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
    box-sizing: border-box;
    min-height: auto;
    padding: 4.5rem 0;
  }
  
  .struttura-primo-e-terzo {
    margin: auto;
    max-width: calc(100% - 3rem);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .corpo-primo-e-terzo {
    text-align: center;
    flex-basis: 50%;
    padding: 0;
    z-index: 1;
    width: 100%;
  }
  
  .titolo-corpo {
    text-align: center;
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
  }
  
  .paragrafo-corpo {
    text-align: center;
    margin: 1rem 0 0;
    font-size: 1.125rem;
    font-weight: 400;
  }
  
  
  
  .contenitoreMedia-primo-e-terzo {
    text-align: center;
    flex-basis: 50%;
    padding: 0;
    z-index: 1;
  }
  
  .strutturaMedia {
      text-align: center;
      position: relative;
    }
  
  .foto-sfondo {
    text-align: center;
    border: 0;
    width: 91%;
  }
  
  .primo-video {
    text-align: center;
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 73%;
    max-height: 54%;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  video {
    text-align: center;
    display: inline-block;
    vertical-align: baseline;
  }
  
  
  .barra {
    border: 5px rgb(35, 35, 35) solid;
    width: 100%;
  }
  
  /* Secondo */
  
  .struttura-secondo-e-quarto {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: calc(100% - 4rem);
  }
  
  .corpo-secondo-e-quarto {
    text-align: center;
    flex-basis: 50%;
    padding: 0;
    z-index: 1;
    width: 100%;
  }
  
  .contenitoreMedia-secondo-e-quarto {
    text-align: center;
    flex-basis: 50%;
    padding: 0;
    z-index: 1;
  }
  
  .secondo-video {
    text-align: center;
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 57%;
    max-height: 47%;
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  audio,
  canvas,
  progress,
  video {
    text-align: center;
    display: inline-block;
    vertical-align: baseline;
  }
  
  .barra-download {
    text-align: center;
    overflow: hidden;
    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translateX(-50%);
    margin: 0 auto;
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    width: 60%;
    min-width: 15rem;
    padding: 0.25rem 0.65rem;
    border: 2px solid rgba(128, 128, 128, 0.7);
    box-shadow: 0 0 2em 0 rgb(0, 0, 0);
    border-radius: 0.75rem;
    z-index: 1;
  }
  
  .contenitore-immagine-stranger {
    text-align: center;
    margin: 0 1rem 0 0;
    flex-grow: 0;
    flex-shrink: 0;
  }
  
  .immagine-stranger {
    text-align: center;
    border: 0;
    height: 3rem;
  }
  
  .corpo-barra-stranger {
    -webkit-text-size-adjust: 100%;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
      sans-serif;
    color: rgb(255, 255, 255);
    letter-spacing: 0 !important;
    text-align: left;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0.3rem 0;
  }
  
  .titolo-barra-stranger {
    text-align: left;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 0.875rem;
  }
  
  .download-barra-stranger {
    text-align: left;
    font-size: 0.75rem;
    font-weight: 400;
    color: #0071eb;
  }
  
  .barra-caricamento {
    text-align: center;
    width: 3rem;
    height: 3rem;
    outline: 2px solid rgb(0, 0, 0);
    outline-offset: -2px;
    display: block;
    background: url("https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif")
      center center no-repeat;
    background-size: 100%;
    content: "";
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
  }
  
  @media screen and (min-width: 600px) {
    .contenitore-globale {
      min-height: auto;
      padding: 4.5rem 0;
    }
    .struttura-primo-e-terzo {
      max-width: calc(100% - 4rem);
    }
    .corpo-primo-e-terzo {
      text-align: left;
      padding-right: 0.375rem;
    }
    .barra-download {
      padding: 0.5rem 0.75rem;
      width: 50%;
    }
    .immagine-stranger {
      height: 4.5rem;
    }
    .titolo-barra-stranger {
      font-size: 1rem;
    }
    .download-barra-stranger {
      font-size: 0.875rem;
    }
    .barra-caricamento {
      height: 3.75rem;
    }
  }
  
  @media screen and (min-width: 960px) {
    .contenitore-globale {
      min-height: auto;
      padding: 4.5rem 0;
    }
    .struttura-primo-e-terzo {
      flex-direction: row;
      max-width: calc(100% - 4rem);
    }
    .corpo-primo-e-terzo {
      text-align: left;
      padding-right: 0.375rem;
    }
    .titolo-corpo {
      text-align: left;
      font-size: 3rem;
      font-weight: 900;
    }
    .paragrafo-corpo {
      text-align: left;
      font-size: 1.5rem;
    }
    .struttura-secondo-e-quarto {
      flex-direction: row-reverse;
    }
    .corpo-secondo-e-quarto {
      text-align: left;
      padding-left: 0.375rem;
    }
    .contenitoreMedia-secondo-e-quarto {
      padding-right: 0.375rem;
    }
    .barra-download {
      width: 50%;
    }
    .immagine-stranger {
      height: 4.5rem;
    }
    .titolo-barra-stranger {
      font-size: 1rem;
    }
    .download-barra-stranger {
      font-size: 0.875rem;
    }
    .barra-caricamento {
      height: 3.75rem;
    }
  }
  


/*Devo finire di verificare se possono esserci miglioramenti nel codice */